    /*Page figth  */
    
    .body_fight {
        background-color: black;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .exit {
        align-self: flex-start;
        position: absolute;
        bottom: 90%;
        margin-left: 30px;
        font-size: 25px;
        text-decoration: none;
        font-family: 'Press Start 2P', cursive;
        color: white;
    }
    
    .arene {
        height: 68vh;
        width: 80vw;
        background-image: url('images/fond-battle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        background-position: center;
        display: flex;
        justify-content: center;
    }