body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logoCont {
  padding-right: 20%;
}

.Pseudo {
  font-family: "Press Start 2P";
  color: white;
}

.formContainer {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.btn {
  padding-top: 10%;
  text-align: center;
}

.seconnecter {
  background-color: black;
  border: none;
  color: red;
  font-family: "Press Start 2P";
  cursor: pointer;
}

#pseudo {
  background-color: black;
  border: none;
  color: white;
  font-family: "Press Start 2P";
  cursor: pointer;
}

#email {
  background-color: black;
  border: none;
  color: white;
  font-family: "Press Start 2P";
  cursor: pointer;
}

#mdp {
  background-color: black;
  border: none;
  color: white;
  font-family: "Press Start 2P";
  cursor: pointer;
}

.logoCont {
  margin-top: 10%;
  margin: 0 auto;
  padding-left: 25%;
}

.dejaInscris {
  padding-top: 10%;
  text-align: center;
}

.memberConnexion {
  font-family: "Press Start 2P";
  color: red;
  text-decoration: none;
}

input#pseudo {
  height: 30px;
}

input#email {
  height: 30px;
}

input#mdp {
  height: 30px;
}

#playPauseBTN {
  position: absolute;
  top: 10px;
  left: 0;
  background: none;
  font-size: 10px;
  color: white;
  border: none;
  font-family: "Press Start 2P";
  cursor: pointer;
}
