body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.battleBoard {
  position: relative;
  height: 70%;
  width: 1900px;
  background-image: url(../images/fondBattle.png);
  background-repeat: no-repeat;
  border-radius: 30px;
  background-position: center;
  display: flex;
  justify-content: center;
}

.playerCharacter {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 60%;
  left: 20%;
  background-color: red;
  display: flex;
  justify-content: left;
}
.enemyCharacter {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 60%;
  left: 75%;

  background-color: black;
}

.start {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
}

.timer {
  position: absolute;
  bottom: 20;
  right: 50;
  color: aliceblue;
  font-size: 50px;
  text-align: center;
}
